.banner {
    height: 112px;
}

header {
    background: #1aacff;
}

nav {
    display: flex;
    height: 64px;
    align-items: center;
    justify-content: space-between;
}

.nav__item {
    font-weight: 500;
    line-height: 64px;
    border-bottom: 4px solid #8dd6ff;
    display: inline-block;
    vertical-align: top;
    margin: 0 51px 0 0;
    height: 64px;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    border-bottom: 0 solid #8dd6ff;
    opacity: 0.65;
    box-sizing: border-box;
    transition: all .3s ease;

    &_active,
    &:hover {
        opacity: 1;
        border-bottom: 4px solid #8dd6ff;
    }
}

.sublogo,
.logo {
    display: block;
    height: 64px;
}

@media (max-width: 1023px) {
    header {
        display: none;
    }
}