.rightbar__banner {
    margin: 0 0 32px;
    display: block;
}

.rightbar__box {
    margin: 0 0 32px;
    padding: 16px;
    background: #FFF;
}

.rightbar {
    padding-left: 32px;
    flex: 0 0 240px;
}

.rightbar__form {
    margin: 0 0 32px;
}

.rightbar__banner-img-m {
    display: none;
    width: 100%;
}

@media (max-width: 1023px) {
    .rightbar {
        margin-top: 32px;
        padding: 0;
    }

    .rightbar__banner {
        width: 100%;
    }

    .rightbar__banner-img {
        display: none;
    }

    .rightbar__banner-img-m {
        display: block;
    }
}